<div class="container">
    <div class="menu">
        <ng-material-multilevel-menu [configuration]='config' [items]='appItems' (selectedItem)="selectedItem($event)"></ng-material-multilevel-menu>
    </div>
    <div class="demos">
        <div class="heading">
            <h1>ng-material-multilevel-menu</h1>
            <span class="short-desc">Material Multi-Level Menu for Angular Projects</span>
        </div>
        <router-outlet *ngIf="!showHome"></router-outlet>
        <div *ngIf="showHome" class="information">
            Here you will find all kind of demos. If I have not added anything that you would like to see let me know
            <a href="https://github.com/ShankyTiwari/ng-material-multilevel-menu/issues">here</a>
            <div class="start-demo">
                <a class="next-demo" mat-stroked-button [routerLink]="['/pages/layout-variations/layout-variations/demo-one']">Start the Demo</a>
            </div>            
        </div>
    </div>
</div>